.overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(15, 23, 42, 0.45);
    backdrop-filter: blur(4px);

    z-index: 999;
}

.card {
    width: 450px;
    max-width: 95%;

    background: #fff;
    border-radius: 18px;

    padding: 24px;

    box-shadow: 0 20px 60px rgba(0, 0, 0, .25);

    animation: aparecer .25s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close {
    position: absolute;
    right: 18px;
    top: 18px;

    width: 38px;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;

    background: #f3f4f6;
    color: #374151;

    cursor: pointer;
    transition: .2s;
}

.close:hover {
    background: #e5e7eb;
}

.card h2 {
    margin: 0;
    margin-bottom: 22px;

    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.info p {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding-bottom: 10px;

    border-bottom: 1px solid #f1f5f9;

    font-size: 15px;
    color: #4b5563;
}

.info strong {
    color: #111827;
    font-weight: 600;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    margin-top: 30px;
}

.actions button {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 12px;

    border: none;
    border-radius: 10px;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: .2s;
}.actions button:nth-child(1) {
    background: #eef5ff;
    color: #2563eb;
}

.actions button:nth-child(1):hover {
    background: #dbeafe;
}

.actions button:nth-child(2) {
    background: #fff7ed;
    color: #ea580c;
}

.actions button:nth-child(2):hover {
    background: #fed7aa;
}

.actions button:nth-child(3) {
    background: #fef2f2;
    color: #dc2626;
}

.actions button:nth-child(3):hover {
    background: #fecaca;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 18px;
}

.badge {
    background: #1d4ed8;
    color: white;

    padding: 6px 14px;

    border-radius: 8px;

    font-size: 14px;
    font-weight: 700;
}

.status {
    padding: 6px 14px;

    border-radius: 20px;

    background: #e8f3ff;
    color: #2563eb;

    font-size: 13px;
    font-weight: 700;

    text-transform: uppercase;
}